/* TODO: Move to SASS. Vanilla CSS is just not good enough, even for prototyping. */
/* TODO: Obtain fonts
/*
*   GLOBAL RESETS
*/

/*
Reference for REMs https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ https://css-tricks.com/rems-ems/
*/

@font-face {
    font-family: "FuturaPTBook-Reg";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPTBook-Reg/FuturaPTBook-Reg.woff") format("woff");
}


/* font-size set to 62.5% === 10px. Enables sensible sized rems to be used. */
html {
    font-size: 62.5%;
}

/* font-size in px required because not all browsers support rems */
body {
    font-family: "FuturaPTBook-Reg", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 0;

}

* {
    /*border: 1px solid red !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
/*
* HELPERS
*/
.hide {
    display: none;
}

/*
* GRID
*/
.grid {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;

}

.row--center {
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center--v {
    display: flex;
    align-items: center;
}

.center--h {
    display: flex;
    justify-content: center;
}

.row--emphasis {
    background-color: #f5f5f5;
}

/* ICONS */

.icon {
    width: 50%;
    max-width: 5rem;
    margin: 15%;

}

.icon__anchor {
    display: block;
    text-indent: -9999px;
    width: 100%; /* Maybe do width in REMs */
    height: 0;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
}

.icon__main-menu {
    background-image: url('../icons/ad-hoc/menu-button.svg');
}

.icon__contact-us {
    background-image: url('../icons/fi-mmc/svg/phone-call.svg');
}

.icon__store-locator {
    background-image: url('../icons/fi-mmc/svg/placeholder.svg');
}

.icon__search {
    background-image: url('../icons/fi-mmc/svg/magnifying-glass.svg');
}

.icon__basket {
    background-image: url('../icons/fi-mmc/svg/shopping-bag.svg');
}

/*
* BRAND LOGO
*/

.brand-logo {
    margin: 8% 0 4%;
}

.brand-logo__anchor {
    display: block;
    width: 100%;
    background-image: url('../images/logos/jigsaw_logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2.1rem;
    padding-top: 16%;
}

.brand-logo__heading {
    text-indent: -999px;
    margin: 0;
    height: 0;
}
/*
* MAIN NAVIGATION
*/

nav {
    width: 50%;
}

.banner {
    color: #000;
    margin: 3% 0;
}

img {
    width: 100%;
}

/*
* HOMEPAGE
*/

.hero {
    position: relative;
}

.hero__title {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: #fff;
}