/* TODO: Move to SASS. Vanilla CSS is just not good enough, even for prototyping. */
/*
*   GLOBAL RESETS
*/
/* TODO: Switch to REMs */

body {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

* {
    /*border: 1px solid red !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* GRID
*/
.grid {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*
* BRAND LOGO
*/
.brand-logo {
    text-align: center;
}

.brand-logo__anchor {
     display: inline-block;
     text-decoration: none;
}

.brand-logo__heading {
    color: black;
    font-size: 80px;
    margin: 0;
}

/*
* MAIN NAVIGATION
*/
.burger-icon {
    display: inline-block;
    width: 96px;
    margin: 35px;
}

.burger-icon__bar-container {
    display: block;
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.burger-icon__bar {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 20%;
}

/* top = 50 - (barHeight / 2) */
.burger-icon__bar {
    top: 40%;
}

.burger-icon__bar:first-child {
    top: 0;
}

/* top = 100 - barHeight */
.burger-icon__bar:last-child {
    top: 80%;
}