/* TODO: Move to SASS. Vanilla CSS is just not good enough, even for prototyping. */
/*
*   GLOBAL RESETS
*/

/*
Reference for REMs https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ https://css-tricks.com/rems-ems/
*/

/* font-size set to 62.5% === 10px. Enables sensible sized rems to be used. */
html {
    font-size: 62.5%;
}

/* font-size in px required because not all browsers support rems */
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
}

* {
    /*border: 1px solid red !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* GRID
*/
.grid {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* ICONS */

.icon {
    display: block;
    text-indent: -999px;
    width: 100%; /* Maybe do width in REMs */
    height: 0;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
}

.icon__contact-us {
    background-image: url('../icons/fi-mmc/svg/phone-call.svg');
}

.icon__store-locator {
    background-image: url('../icons/fi-mmc/svg/placeholder.svg');
}

.icon__search {
    background-image: url('../icons/fi-mmc/svg/magnifying-glass.svg');
}

.icon__basket {
    background-image: url('../icons/fi-mmc/svg/shopping-bag.svg');
}

/*
* BRAND LOGO
*/
.brand-logo__anchor {
    text-decoration: none;
    display: block;
    width: 100%;
    background-image: url('../images/jigsaw_logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2.1rem;

}

.brand-logo__heading {
    text-indent: -999px;
    margin: 1rem;
}
/*
* MAIN NAVIGATION
*/
.burger-icon {
    display: inline-block;
    width: 48px;
    margin: 10px;
}

.burger-icon__bar-container {
    display: block;
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.burger-icon__bar {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 20%;
}

/* top = 50 - (barHeight / 2) */
.burger-icon__bar {
    top: 40%;
}

.burger-icon__bar:first-child {
    top: 0;
}

/* top = 100 - barHeight */
.burger-icon__bar:last-child {
    top: 80%;
}
